.country {
  background-color: #4202aa;
  border: 1.5px solid #4202aa;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 25px #333;
  color: antiquewhite;
  margin: 1rem;
  padding: 0.5rem;
}

.country img {
  width: 5rem;
}